<div class="flex-container">
    <!-- Header row -->
    <app-head></app-head>
    
    <!-- sidebar and board row -->
    <div fxLayout="row" fxLayoutAlign="space-evenly none" style=" height: 100vh;">
        
        <!-- toolbar -->
        <div fxFlex="5">
           <app-toolbar> </app-toolbar>
        </div>

        <!-- sidebar tool -->
        <app-side-navigation></app-side-navigation>
        
        <!-- board  -->
        <div fxFlex="95" fxLayoutGap="10px">
            <app-board (addTileEvent)="numberOfTiles=$event" [prntMsg]="fatherMsg" [isRequested]="isRequested"></app-board>
        </div>
    </div>
</div>