<!-- icon displayed in the toolbar -->
<button mat-icon-button (click)="EmitClickEvent(widgetTemplateRef)">
  <mat-icon>crop_7_5</mat-icon>
</button>

<ng-template #widgetTemplateRef>

  <!-- slider template header -->
  <div fxLayout="row">
    <h3>{{widgetTitle}}</h3>
    <span class="spacer"></span>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- list -->
  <mat-list>
    <!-- button type radio  -->
    <mat-list-item>Button Type</mat-list-item>
    <!-- radio selection -->
    <section class="example-section">
      <mat-radio-group [(ngModel)]="buttonType">
        <mat-radio-button class="example-margin" value="basic">
          Basic
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="raised">
          Raised
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="stroked">
          Stroked
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="flat">
          Flat
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="icon">
          Icon
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="fab">
          Fab
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="mini-fab">
          Mini Fab
        </mat-radio-button>
      </mat-radio-group>
    </section>

    <mat-divider></mat-divider>

    <!-- select color theme by radio buttons -->
    <mat-list-item>Button Color</mat-list-item>
    <section class="example-section">
      <mat-radio-group [(ngModel)]="color">
        <mat-radio-button class="example-margin" value="primary">
          Primary
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="accent">
          Accent
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="warn">
          Warn
        </mat-radio-button>
      </mat-radio-group>
    </section>

    <mat-divider></mat-divider>

    <!-- disable section -->
    <mat-list-item>Button Disable</mat-list-item>
    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</mat-checkbox>
    </section>

    <mat-divider></mat-divider>

    <!-- text section via input field -->
    <mat-list-item>Button Text</mat-list-item>
    <form class="example-form">
      <mat-form-field class="button_input">
        <input matInput [(ngModel)]="buttonText" name="buttonText">
      </mat-form-field>
    </form>

    <mat-divider></mat-divider>

    <!-- resul display and drag -->
    <mat-list-item>Result</mat-list-item>
  </mat-list>

  <!-- display the button based on selected type and properties -->
  <div [ngSwitch]="buttonType" class="example-list" cdkDropList #widgetList="cdkDropList" [cdkDropListData]="widget" [cdkDropListConnectedTo]="[tileList]"
    (cdkDropListDropped)="drop($event)">
    <button *ngSwitchCase="'basic'" mat-button [color]="color" [disabled]="disabled" cdkDrag>{{buttonText}}</button>
    <button *ngSwitchCase="'raised'" mat-raised-button [color]="color" [disabled]="disabled"
      cdkDrag>{{buttonText}}</button>
    <button *ngSwitchCase="'stroked'" mat-stroked-button [color]="color" [disabled]="disabled"
      cdkDrag>{{buttonText}}</button>
    <button *ngSwitchCase="'flat'" mat-flat-button [color]="color" [disabled]="disabled" cdkDrag>{{buttonText}}</button>
    <button *ngSwitchCase="'icon'" mat-icon-button [color]="color" [disabled]="disabled" cdkDrag>
      <mat-icon>favorite</mat-icon>
    </button>
    <button *ngSwitchCase="'fab'" mat-fab [color]="color" [disabled]="disabled" cdkDrag>{{buttonText}}</button>
    <button *ngSwitchCase="'mini-fab'" mat-mini-fab [color]="color" [disabled]="disabled"
      cdkDrag>{{buttonText}}</button>
  </div>
  
  <!-- <div class="example-container">
    <h2>To do</h2>
  
    <div
      cdkDropList
      [id]= this._DragDropServiceService.generateID()
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]=this._DragDropServiceService.drapDragList
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div> -->


  
</ng-template>